{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "es2015"
        ]
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-runtime",
        "istanbul"
      ]
    }
  }
}

