{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-runtime",
        "istanbul"
      ]
    }
  }
}

