{
  "extends": "airbnb/base",
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "max-len": [
      1,
      120
    ],
    "arrow-body-style": [
      2,
      "always"
    ],
    "no-return-assign": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "arrow-parens": [
      2,
      "always"
    ],
    "no-console": [
      2, {
        "allow": ["warn", "error", "info"]
      }
    ],
    "import/no-mutable-exports": 0,
    "import/no-extraneous-dependencies": [
      "error", {"devDependencies": ["build/*", "test/**/*"]}
    ]
  }
}
